# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
myenv/
.venv/

# Flask
instance/
.webassets-cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database / local files
*.db
*.sqlite
*.sqlite3

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Secrets
*.pem
*.key